<div id="sampleDemo" style="" class="demo-padding demo-container">
  <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
    <p><span class="demo-screen-range"></span></p>
    <div class="demo-grid-sizes demo-flex-display">
      <div class="oj-flex oj-flex-items-pad">

        <div class="oj-sm-4 oj-md-3 oj-lg-2 oj-xl-2 oj-flex-item">
        </div>

        <div class="oj-sm-4 oj-md-6 oj-lg-10 oj-xl-8 oj-flex-item">
          <div id="form-container" class="oj-form-layout">
            <div class="oj-form">

              <div class="oj-flex">
                <div class="oj-sm-6 oj-flex-item">
                  <oj-label show-required for="input">AEF Number</oj-label>
                  <oj-input-text id="input" required value=""></oj-input-text>
                </div>
                <div class="oj-sm-6 oj-flex-item">
                  <oj-label show-required for="input">AEF Status</oj-label>
                  <oj-input-text id="input" required value=""></oj-input-text>
                </div>
              </div>

              <div class="oj-flex">
                <div class="oj-sm-6 oj-flex-item">
                  <oj-label show-required for="input">Requestor Name</oj-label>
                  <oj-input-text id="input" required value=""></oj-input-text>
                </div>
                <div class="oj-sm-6 oj-flex-item">
                  <oj-label show-required for="input">Requestor Email</oj-label>
                  <oj-input-text id="input" required value=""></oj-input-text>
                </div>
              </div>

              <div class="oj-flex">
                <div class="oj-flex-item">
                  <oj-label show-required for="input">Business Unit</oj-label>
                  <div id="containerDiv">
                            <oj-select-one id="basicSelect" value="{{val}}" style="max-width:20em">
                              <oj-option value="CI">C and I</oj-option>
                              <oj-option value="CIIO">CIIO</oj-option>
                              <oj-option value="CO">Commericial</oj-option>
                              <oj-option value="CIN">Corporate Innovation</oj-option>
                              <oj-option value="CU">EU - Customer</oj-option>
                              <oj-option value="DG">EU - Digital Grid</oj-option>
                              <oj-option value="RT">EU - Real Time</oj-option>
                              <oj-option value="WAAM">EU - Work & Asset Management</oj-option>
                              <oj-option value="EWS">EWS</oj-option>
                              <oj-option value="GE">Generation</oj-option>
                              <oj-option value="RE">Retail</oj-option>
                              <oj-option value="SE">Security</oj-option>
                              <oj-option value="WS">Wholesale</oj-option>


                            </oj-select-one>


                          </div>                </div>
                <div class="oj-sm-6 oj-flex-item">
                  <oj-label show-required for="input">Submission Date</oj-label>
                  <oj-input-date id="date" value='{{submissionDate}}'>
                  </oj-input-date>
                </div>
              </div>


              <div class="oj-flex">
                <div class="oj-sm-12 oj-md-12 oj-lg-12 oj-xl-12 oj-flex-item">
                  <oj-label show-required for="input">Initiative Name</oj-label>
                  <oj-input-text id="input" required value=""></oj-input-text>
                </div>
              </div>

              <div class="oj-flex">
                <div class="oj-flex-item">
                  <oj-label show-required for="input">Description</oj-label>
                  <oj-input-text id="input" required value=""></oj-input-text>
                </div>
              </div>

              <div class="oj-flex">
                <div class="oj-flex-item">
                  <oj-label show-required for="input">Planned Start</oj-label>
                  <oj-input-date id="date" value='{{plannedStart}}'>
                  </oj-input-date>
                </div>
                <div class="oj-sm-6 oj-flex-item">
                  <oj-label show-required for="input">Planned Implementation</oj-label>
                  <oj-input-date id="date" value='{{plannedImplementation}}'>
                  </oj-input-date>
                </div>
              </div>


              <div class="oj-flex">
                <div class="oj-flex-item">
                  <oj-label show-required for="input">PPM ID/EDM ID</oj-label>
                  <oj-input-text id="input" required value=""></oj-input-text>
                </div>
                <div class="oj-sm-6 oj-flex-item">
                  <oj-label show-required for="input">APM ID</oj-label>
                  <oj-input-text id="input" required value=""></oj-input-text>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
</div>
